{% extends "../base.html" %}

{% block title %}Login{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div id="login-container">
    <style>
        #login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            margin-top: 18vh;
        }

        #login-container>#title {
            margin-bottom: 140px;
            user-select: none;
        }

        #login-container #login-button {
            gap: 36px;

            font-size: 1.8em;
        }

        #login-container #login-button>span {
            margin-right: 40px;
        }
    </style>

    {% include "../components/logo.html" %}

    <h3 id="title">Login</h3>
    <a href="{{ gitlab_oath_url }}">
        <button id="login-button">
            <img src="/static/images/gitlab-logo.svg" alt="Gitlab logo" />
            <span>
                GITLAB
            </span>
        </button>
    </a>
</div>

{% endblock %}