<style>
    #guild-form {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
    }

    #members-list {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    #members-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
    }

    #members-list li #user-avatar {
        height: 30px
    }

    #submit-button.--disabled {
        background-color: var(--color-red);
    }

    #options {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        opacity: 1;
        scrollbar-width: none;
    }

    #option {
        gap: 10px;
    }

    #options>.no-members-found {
        padding: 14px 8px;
        color: var(--color-disabled);
        user-select: none;
        align-self: center;
    }

    #options>.spinner {
        display: none;
    }

    #options.htmx-request>.spinner {
        display: inline !important;
        align-self: center;
    }

    #options.htmx-request>* {
        display: none !important;
    }
</style>

<script>
    function onBodyClick(ev) {
        try {
            document.getElementById('options').innerHTML = '';
            document.getElementById('member_search_term').value = '';
        } catch { }
    }

    document.body.removeEventListener("click", onBodyClick);
    document.body.addEventListener("click", onBodyClick);
</script>

<form id="guild-form" {% match guild.id %} {% when Some with (guild_id) %} hx-put="/guilds/{{ guild_id }}" {% when None
    %} hx-post="/guilds" {% endmatch %} hx-target="#content" hx-select="#content" hx-swap="outerHTML"
    hx-sync="this:replace">
    <div id="form-field">
        <label for="name">
            Title
        </label>

        <input placeholder="Type here..." name="name" id="name" type="text" value="{{ guild.name }}" autocomplete="off"
            {% match guild.id %} {% when Some with (guild_id) %} hx-post="/guilds/{{ guild_id }}/draft" {% when None %}
            hx-post="/guilds/draft" {% endmatch %} hx-trigger="input changed delay:500ms" hx-push-url="false"
            hx-target="#name-error" hx-select="#name-error" hx-swap="outerHTML">
        <span id="name-error" class="error-label">
            {{ Self::get_field_error_message(self, "name") }}
        </span>
    </div>



    <div id="form-field" class="autocomplete" hx-on:click="event.stopPropagation(); event.preventDefault();">
        <label for="username">
            Members
        </label>

        <input name="member_search_term" id="member_search_term" type="search" placeholder="Type username here..." {%
            match guild.id %} {% when Some with (guild_id) %} hx-post="/guilds/{{ guild_id }}/draft" {% when None %}
            hx-post="/guilds/draft" {% endmatch %} class="autocomplete" hx-trigger="input changed delay:500ms, search"
            hx-target="#options" hx-select="#options" hx-swap="outerHTML" value="{{ member_search_term }}"
            autocomplete="off" hx-indicator="#options">

        <div id="options" class="options htmx-indicator" tabindex='-1'>
            <span class="spinner"></span>

            {% if matched_members.len() == 0 && !member_search_term.is_empty()%}
            <li id="member" class="no-members-found">
                <h4>No members found</h4>
            </li>
            {% endif %}

            {% for member in matched_members %}
            <div id="option" {% match guild.id %} {% when Some with (guild_id) %}
                hx-post="/guilds/{{ guild_id }}/draft/members/{{ member.id }}" {% when None %}
                hx-post="/guilds/draft/members/{{ member.id }}" {% endmatch %} hx-trigger="click, keyup[keyCode==13]"
                tabindex="0">
                <img id="user-avatar" src="{{ member.avatar_url }}">
                </img>
                <p id="username">
                    @{{ member.username }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

    <ul id="members-list">
        {% for member in guild.members %}
        <li id="member">
            <input name="member_ids[]" id="member_ids" type="number" value="{{ member.id }}" hidden></input>

            <img id="user-avatar" src="{{ member.avatar_url }}">
            </img>

            <p id="username">
                @{{ member.username }}
            </p>

            <img id="remove-icon" src="/static/images/trash-can.svg" alt="Remove member" class="action-icon"
                hx-delete="/guilds/draft/members/{{ member.id }}" hx-target="closest li" hx-swap="outerHTML"
                hx-confirm="Are you sure you want to remove  @{{ member.username }} from this guild?"></img>
        </li>
        {% endfor %}
    </ul>

    <div id="action-buttons">
        <button {% match guild.id %} {% when Some with (guild_id) %} hx-get="/guilds/{{ guild_id }}" {% when None %}
            hx-get="/guilds" {% endmatch %} hx-target="#content" hx-push-url="true">
            Cancel
        </button>
        <button type="submit" id="submit-button" {% if should_swap_oob %} hx-swap-oob="true" {% endif %} {% if !is_valid
            %} class="--disabled" {% endif %}>
            {% match guild.id %} {% when Some with (_) %} Update {% when None
            %} Create {% endmatch %}
        </button>
    </div>
</form>