{% extends "authenticated-base.html" %}

{% block title %}Guild{% endblock %}

{% block content %}

{% call super() %}

<style>
    #content-title {
        display: none;
    }

    #guild-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 8px;
    }

    #guild-topics-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 20px 0 10px 0;
    }

    #guild-topics-header-title {
        font-weight: 200;
    }

    #guild-topics {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding-bottom: 20px;
    }

    #guild-container {
        width: 100%;
        height: 100%;
    }
</style>

<script>
    function onSseMessage() {
        const guildContainer = document.getElementById("guild-container");

        function showEmptyStateIfLastCardRemoved() {
            const existingCardsCount = guildContainer.querySelectorAll('.topic-card').length;

            if (existingCardsCount === 1) {
                const emptyStateElement = guildContainer.querySelector('#empty-state');
                htmx.removeClass(emptyStateElement, "hidden");
            }
        }

        if (["topic-created", "topic-archived"].includes(event?.detail?.type)) {

            const emptyStateElement = guildContainer.querySelector('#empty-state');

            htmx.addClass(emptyStateElement, "hidden");

        } else if (event?.detail?.type?.startsWith("topic-deleted")) {

            showEmptyStateIfLastCardRemoved();

            const deleteBtn = event.detail.elt.querySelector("#delete-topic-button");
            if (!deleteBtn) {
                return
            }

            if ([...deleteBtn.classList].includes("htmx-request")) {
                event.preventDefault()
            }
        } else if (event?.detail?.type?.startsWith("topic-status-changed")) {
            showEmptyStateIfLastCardRemoved();

            const archiveBtn = event.detail.elt.querySelector("#archive-topic-button");
            if (!archiveBtn) {
                return
            }

            if ([...archiveBtn.classList].includes("htmx-request")) {
                event.preventDefault()
            }
        } else if (event?.detail?.type === "topics-order-changed") {
            event.preventDefault();

            const topicsList = document.getElementById("guild-topics");

            if (!topicsList) return;

            const sortableInstance = new Sortable(topicsList, {
                disabled: true,
                sort: false,
                animation: 400,
                filter: ".not-sortable",
                easing: "cubic-bezier(1, 0, 0, 1)",
            });

            let ids = JSON.parse(event.detail.data);

            setTimeout(() => {
                sortableInstance.sort(ids, true);
            }, 300);

        }
    }
</script>
<div id="guild-container" hx-ext="sse" sse-connect="/guilds/{{ guild_id }}/events"
    hx-on::sse-before-message="onSseMessage()">
    <div id="guild-header" hx-get="/guilds/{{ guild_id }}/overview" hx-trigger="load" hx-swap="outerHTML">
        <style>
            #guild-title-skeleton {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                flex-direction: column;

                gap: 16px;
            }

            #guild-title-skeleton>.skeleton--title {
                height: 24px;
                width: 200px;
            }

            #guild-title-skeleton>.skeleton--sub-title {
                height: 16px;
                width: 400px;
            }
        </style>

        <div id="guild-title-skeleton" class="htmx-indicator">
            <div class="skeleton skeleton--title"></div>
            <div class="skeleton skeleton--sub-title"></div>
        </div>
    </div>


    <div id="guild-topics-header">
        <style>
            #title-with-filter {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            #archived-filter {
                font-weight: 200;
            }
        </style>

        <div id="title-with-filter">
            <h3 id="guild-topics-header-title">
                Topics
            </h3>

            <div id="archived-filter" class="checkbox" hx-get="/guilds/{{ guild_id }}" hx-push-url="true"
                hx-swap="outerHTML" hx-select="#guild-topics" hx-target="#guild-topics" hx-include="#archived"
                hx-trigger="change">

                <label class="control control--checkbox">
                    Archived only
                    <input name="archived" id="archived" type="checkbox" value=true>

                    <div class="control__indicator"></div>
                </label>
            </div>
        </div>

        <div>
            <div hx-get="/guilds/{{ guild_id }}/topics/add" id="add-new-topic-button" class="action-icon"
                hx-push-url="true" hx-target="#content" hx-select="#content" hx-swap="outerHTML">
                +
            </div>
        </div>
    </div>


    <div sse-swap="topics-order-changed" hx-swap="none"></div>

    <style>
        #guild-topics>.skeleton {
            height: 112px;
            border-radius: 8px;
        }

        .not-sortable {
            display: flex;
            justify-content: center;
        }

        .topic-card {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border: 1px solid var(--color-white);
            padding: 20px 30px;
            border-radius: 8px;
            gap: 20px;
        }

        .topic-card.is-upvoted-by-me {
            border: 1px solid var(--color-green);
        }

        #action-buttons {
            display: flex;
            gap: 5px;
            flex-wrap: unset;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .topic-card:hover #action-buttons {
            opacity: 1;
        }

        .topic-card.archived {
            border: 1px solid var(--color-disabled) !important;
        }

        .topic-card.archived #upvote-icon {
            cursor: initial;
        }

        #edit-topic-button {
            background-color: var(--color-white);
            -webkit-mask: url("/static/images/pencil.svg") no-repeat center;
            mask: url("/static/images/pencil.svg") no-repeat center;
            mask-size: 100%;
        }

        #delete-topic-button {
            background-color: var(--color-red);
            -webkit-mask: url("/static/images/trash-can.svg") no-repeat center;
            mask: url("/static/images/trash-can.svg") no-repeat center;
            mask-size: 100%;
        }

        #archive-topic-button {
            background-color: var(--color-white);
            -webkit-mask: url("/static/images/archive.svg") no-repeat center;
            mask: url("/static/images/archive.svg") no-repeat center;
            mask-size: 100%;
        }

        #topic-first-row {
            display: flex;
            justify-content: space-between;
        }

        #topic-text-content {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #topic-second-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #user-avatar {
            height: 24px;
        }

        #user-container {
            display: flex;
            gap: 5px;
        }

        #upvotes-container {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
        }

        #upvotes-container.is-upvoted-by-me {
            color: var(--color-green);
        }

        .topic-card.archived #upvotes-container.is-upvoted-by-me {
            color: var(--color-disabled);
        }

        #upvotes-count {
            line-height: 1em;
            font-weight: 400;
        }

        #upvotes-container.is-upvoted-by-me #upvote-icon {
            content: url("/static/images/arrow-up-filled.svg");
        }

        #empty-state {
            color: var(--color-disabled);
            user-select: none;
            opacity: 0.3;
            font-weight: 200;
            text-transform: uppercase;

            margin-top: 15%;
            align-self: center;
        }

        #empty-state.hidden {
            display: none;
        }

        #archive-icon {
            transform: rotate(180deg);
            transition: transform 0.5s;
        }

        #archive-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-disabled);
            cursor: pointer;
        }

        #archive-icon-container:hover>* {
            opacity: 1;
            color: var(--color-white);
        }
    </style>
    <ul id="guild-topics" hx-get="/guilds/{{ guild_id }}/topics?page=1&status={{ status }}" hx-trigger="load"
        hx-swap="outerHTML">
        <div class="skeleton htmx-indicator"></div>
        <div class="skeleton htmx-indicator"></div>
        <div class="skeleton htmx-indicator"></div>
    </ul>
</div>
{% endblock %}