/* Variables */
:root {
  --color-bg: #002e3d;
  --color-red: #ea2d1f;
  --color-orange: #d76907;
  --color-action: #3777ff;
  --color-white: #f5f9f1;
  --color-green: #4ef500;
  --color-disabled: #b3b3b3;
}

/* Pages */
#content {
  min-height: 100vh;
  min-width: 100vw;

  background-color: var(--color-bg);
  color: var(--color-white);

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#action-buttons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Components */
h1 {
  font-size: 4em;
  line-height: 1.2em;
}

h2 {
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 200;
}

h3 {
  font-size: 2em;
  line-height: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 200;
}

button {
  min-height: 53px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;

  font-size: 2.5em;
  font-weight: 200;

  transition: background-color 0.3s;
}

#logo {
  user-select: none;
}

#logo > #first-part {
  font-weight: 100;
}

#logo > #second-part {
  font-weight: 500;
  color: var(--color-action);
}

.autocomplete {
  position: relative;
}

.autocomplete #options {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top-color: rgb(212, 212, 212);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(212, 212, 212);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-bg);
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

  gap: 5px;
}

.autocomplete #options #option {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;

  padding: 10px 5px;
}

#user-avatar {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

#username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-icon {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s;
}

.action-icon:hover {
  opacity: 1;
}

.toastify {
  background: unset !important;
  box-shadow: unset !important;
  cursor: initial !important;

  user-select: none;
  background-color: var(--color-bg) !important;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.toastify.info {
  background-color: var(--color-action) !important;
}

.toastify.warning {
  background-color: var(--color-orange) !important;
}

.toastify.error {
  background-color: var(--color-red) !important;
}

/* Forms */
#form-field {
  position: relative;
  padding-bottom: 15px;
  margin-top: 15px;
}

.error-label {
  bottom: 0;
  color: var(--color-red);
  position: absolute;
  font-size: 0.8em;
}
