<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/static/reset.css" rel="stylesheet" />
  <link href="/static/main.css" rel="stylesheet" />
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/static/js/toastify/toastify.min.css">

  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/sse.js"></script>

  <script src="/static/js/toastify/toastify.js" async></script>
  <script src="/static/js/toast.js" async></script>



  <title>{% block title %}{{ title }}{% endblock %} | GUILDHUB</title>

  {% block head %}{% endblock %}
</head>

<script>
  function onConfirm() {
    const hasConfirmAttribute = event.detail.target.hasAttribute('hx-confirm') || event.srcElement.hasAttribute('hx-confirm');

    if (!hasConfirmAttribute) return

    const confirmEvent = event;

    confirmEvent.preventDefault()

    Swal.fire({
      title: "Hold on",
      text: event.detail.question || 'Are you sure?',
      showDenyButton: true,
      confirmButtonText: "Yes",
      denyButtonText: "No",
      animation: false,
      buttonsStyling: false
    }).then(function (result) {
      if (result.isConfirmed) {
        confirmEvent.detail.issueRequest(true);
      }
    })
  }
</script>

<body hx-boost="true" hx-on::confirm="onConfirm()">
  <div id="content">{% block content %}{% endblock %}</div>

  <script src="/static/js/Sortable.js"></script>
  <script src="/static/js/sweetalert2@11.js"></script>
</body>

</html>