<style>
    #menu {
        max-height: 30px;
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    #menu>#logo {
        font-size: 1.7em;
        align-self: center;
        cursor: pointer;
    }

    #logged-in-user {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        max-width: 200px
    }

    #logged-in-user>#logout {
        width: auto;
        height: 100%;

        margin-left: 5px;

        width: 20px;
        height: 20px;

        background-color: var(--color-white);
        -webkit-mask: url("/static/images/logout.svg") no-repeat center;
        mask: url("/static/images/logout.svg") no-repeat center;
        mask-size: 100%;
    }

    @media only screen and (max-width: 500px) {
        #logged-in-user>#username {
            display: none;
        }
    }

    @media only screen and (max-width: 300px) {
        #logged-in-user>#user-avatar {
            display: none;
        }
    }
</style>

<menu id="menu">
    {% include "components/logo.html" %}

    <div id="logged-in-user">
        <p id="username">
            @{{ user.username }}
        </p>
        <img id="user-avatar" src="{{ user.avatar_url }}">
        </img>
        <div hx-delete="/login" id="logout" hx-push-url="true" hx-target="#content" hx-select="#content"
            hx-swap="outerHTML" class="action-icon">

        </div>
    </div>
</menu>